@use "../../presets" as *;
@use "../../mixins" as *;

.form {
  padding: $gap-lg 0;

  background-color: $color-primary;

  &__container {
    display: grid;

    @extend %container;
    gap: $gap;
    @include lg-min {
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      grid-template-columns: 1fr;
    }
  }

  &-item {
    &:first-of-type {
      @include md-sm {
        grid-column: 1/span 2;
      }
    }


    &__input {
      width: 100%;
      height: $gap-x3;
      padding-right: $gap-lg;
      padding-left: $gap-lg;

      letter-spacing: 0.15em;

      color: $color-light;
      border: 2px solid transparent;
      border-bottom: 2px solid rgba($color-light, 0.25);
      outline: none;
      background-color: rgba($color-light, 0.05);

      font-size: 1.125rem;

      &:hover {
        border-color: rgba($color-light, 0.15);
        border-bottom-color: $color-light;
        background-color: rgba($color-light, 0.15);

        &::placeholder {
          color: #8c9aab;
        }
      }

      &::placeholder {
        color: $color-gray;
      }
    }
  }

  .btn--primary {
    width: 100%;

    color: $color-light;
    border-color: transparent;
    border-bottom: 2px solid rgba($color-light, 0.25);
    background-color: rgba($color-light, 0.1);

    &:hover {
      border-color: $color-light;
      background-color: $color-accent;
    }
  }
}
