@use "../../presets" as *;
@use "../../mixins" as *;

.footer {
  background-color: $color-primary;
  padding: 50px $gap 70px;

  &__container {
    @extend %container;
  }

  &__social {
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    margin-bottom: $gap-x2;

    a {
      display: block;
      padding: $gap-sm;
      transition: color 0.5s;

      &:hover {
        color: $color-accent;
      }
    }

    .fab {
      font-size: 2.25rem;
    }

    &::after {
      position: absolute;
      bottom: -$gap;
      left: calc(50% - 37.5px);
      width: 75px;
      height: 2px;
      content: "";
      background-color: rgba($color-light, 0.1);
    }
  }

  &__copy {
    text-align: center;

    span:first-of-type {
      font-weight: 100;
      letter-spacing: 0.33em;
      margin-right: -0.5em;
    }

    span:last-of-type {
      font-weight: 700;
      color: $color-gray-light;
      letter-spacing: 0.05em;
    }
  }
}