@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {
  letter-spacing: 0.1em;
  padding: $gap-sm;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    justify-content: end;
    gap: $gap;
    @include unlist(0 (-$gap) 0 0)
  }

  &__link {
    font-size: 1.125rem;
    padding: $gap $gap-sm;
  }
}