@use "../presets" as *;
@use "../mixins" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5em 1em;

  transition: background-color 0.25s;
  letter-spacing: 0.1em;

  &.btn--light {
    border: 2px solid $color-light;
    background-color: rgba($color-light, 0.1);

    @include lg-min {
      width: 250px;
      height: $gap-x3;

      font-size: 1.125rem;
    }
    @include lg-md {
      width: 200px;
      height: 50px;
    }
    @include md {
      width: 170px;
      height: $gap-x2;
    }
  }

  &.btn--primary {
    width: 350px;
    height: $gap-x3;

    border: 2px solid $color-primary;
    background-color: rgba($color-primary, 0.8);

    font-size: 1.125rem;

    @include sm {
      width: 100%;
    }
  }

  &:hover {
    background-color: $color-accent;
  }
}
